<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/dashboard.css}" />
<link rel="stylesheet" th:href="@{/css/signin.css}" />
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
	<table border="1px" class="table table-bordered">
		<thead>
			<tr>
				<td>id</td>
				<td>用户姓名</td>
				<td>密码</td>
				<td colspan="2" align="center">操作</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user :${list}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.password}"></td>
				<td><a th:href="@{/user/delete(id=${user.id})}">删除</a></td>
				<td><a th:href="@{/user/toupdate(id=${user.id})}">更新</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>